@page
@model miWeb.App.Frontend.Pages.DetallesModel
@{
}
<h1>Detalles de los saludos</h1>

<h1>@Model.Saludo.EnEspañol</h1>
<h1>@Model.Saludo.EnIngles</h1>
<h1>@Model.Saludo.Id</h1>
<li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Saludos/List">Saludos</a></li>