@page
@model miWeb.App.Frontend.Pages.EliminarModel
@{
}
<h1>Se va a eliminar el saludo</h1>
<h1>@Model.Saludo.EnEspañol</h1>
<h1>@Model.Saludo.EnIngles</h1>
<h1>@Model.Saludo.Id</h1>
<form method="post">
    <input type="hidden" asp-for="Saludo.Id"/>
    <button type="submit" class="btn btn-primary">Eliminar</button>
</form>